

.section2 {
    
    float: left;
    width: 270px;
    height: 300px;
   
}

li.section3{
    
   padding: 10px;
}
li{
    display:inline;
}

.code1{
    
    border: 2px solid rgb(187, 183, 183);
    margin-right: 40px;
    width: 300px;
    height: 200px;
    padding-left: 51px;
    padding-top: 60px;
    float:left
}
.code1:hover{
    border: solid rgb(253, 118, 69)

}
.code2{
    margin-left: 270px;
    display: flex;
}
.code3{
    color: rgb(252, 118, 69);
}
.code4{
    background-color:rgb(233, 230, 230);
    padding-top: 25px;
   }
   .code5{ text-align: center;

   }
.code6{
    color: rgb(107, 104, 104);
    font-family: 'flanders';
    font-size: 12px;
}
.code7{
    width: 355px;
    height: 303px;
}
.code8{
    font-family: 'flanders';
}
.code9{
    background-color: black;
    height: 310px;
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 100px;
}
.code10 {  
    height: 390px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(247, 245, 245);
}
.code11{
    font-weight: bold;
    padding-left: 20px;
}
.code11:link{
    color: rgb(126, 121, 124);
    text-decoration: none;
}
.code11:hover{
    color: rgb(65, 64, 64);
    text-decoration: underline;

}
.code12{
    float: left;
    padding-right: 25px;
    padding-left: 25px;
    background-color: white;
    padding-bottom: 25px;
    margin-right: 20px;
    padding-top: 7px;

}
.code13{
    width: 21%;
    float: left;
}

footer{
    height: 300px;
    padding-top: 100px;
    background-color:rgb(68, 66, 66);
    color: white
}
.code14{
    font-family: 'flanders';

}
.code14:link{
    color: white;
    text-decoration: none;

}
.code14:hover{
    color: rgb(196, 83, 42);
    text-decoration: none;

}
/*section1 styling*/
.section1art{
    width: 1500px; display:flex;margin-left: 270px;
   } 
   .fieldsetart{
        padding-bottom: 20px;
        padding-top: 30px;
        padding-right: 17px;
        padding-left: 20px;
        margin-left: 0px;
              }
    .buttonart{
        padding-right: 90px;
        padding-left: 90px;color: white;
        background-color: rgb(241, 100, 48);    
        padding-top: 10px;
        padding-bottom: 7px;

                }
    .para1art{
        height: 228px;
        padding-top: 30px; 
        padding-right:50px; 
        padding-left:25px; 
        float:left;

    }

    /* SECTION 2 six boxes styling */
    .section2art{
        padding-bottom: 70px;
        padding-top: 70px;
      }

    /*SECTION 3 stlying about us*/
    #section3art{
        height:470px;
        padding-top: 50px;
        padding-bottom: 50px;
     }
     #donArt{
        float:left;
        margin-left: 300px;
        padding-top: 50px;

     }
     #donationArticle{
        height:180px;
        width:350px;
     }
     #image2art{
        float:left;
        padding-right: 40px;
        padding-left: 30px;
        padding-top: 70px;
     }
     #don2art{
        float:left;
        padding-top: 50px;

     }
     /*SECTION 4 stlying our causes*/
     #section4art{
        height:650px; 
        padding-top:50px; 
        background-color: rgb(247, 245, 245);

    }
    #ul1{
        float:left; 
        padding-right:15px;
    }
    #ul2{
        float:left;
        padding-right:20px;
        padding-left:60px;

    }
    #ul3{
        float:left;
        padding-left:55px;
    }

    /*SECTION 5 stlying video*/
